$small: 600px;
$medium-min: 601px;
$medium-max: 900px;
$large-min: 901px;
$large-max: 1200px;
$extra-large-min: 1201px;
$extra-large-max: 1300px;
$extra-extra-large-min: 1301px;
$color-small: #072046;
$color-medium: #072046;
$color-large: #072046;
$color-extra-large: #072046;
$color-extra-extra-large: #072046;